//Colors
//Theme 1
$color-background-primary: #fae596;
$color-background-secondary: #fff1bb;
$color-primary: #3fb0ac;
$color-secondary: #87c8b2;
$color-title-text: #173e43;
$color-main-text: #173e43;
$color-gray: #dddfd4;

//Theme 1
$theme1-color-background-primary: #267a9f;
$theme1-color-background-secondary: #569dbd;
$theme1-color-primary: #3fb0ac;
$theme1-color-secondary: #87c8b2;
$theme1-color-title-text: #dddfd4;
$theme1-color-main-text: #dddfd4;
$theme1-color-gray: #dddfd4;

//Theme 2
$theme2-color-background-primary: #fae596;
$theme2-color-background-secondary: #fff1bb;
$theme2-color-primary: #3fb0ac;
$theme2-color-secondary: #87c8b2;
$theme2-color-title-text: #173e43;
$theme2-color-main-text: #173e43;
$theme2-color-gray: #dddfd4;

// Theme 3
$theme5-color-background-primary: #dddfd4;
$theme5-color-background-secondary: #f5f5f5;
$theme5-color-primary: #173e43;
$theme5-color-secondary: #337a83;
$theme5-color-title-text: #dddfd4;
$theme5-color-main-text: #173e43;
$theme5-color-gray: #dddfd4;


//Theme 4
$theme4-color-background-primary: #5cdb95;
$theme4-color-background-secondary: #77dba4;
$theme4-color-primary: #05386b;
$theme4-color-secondary: #05386b;
$theme4-color-title-text: #05386b;
$theme4-color-main-text: #05386b;
$theme4-color-gray: #dddfd4;

//Theme 5
$theme6-color-background-primary: #2d545e;
$theme6-color-background-secondary: #12343b;
$theme6-color-primary: #e1b382;
$theme6-color-secondary: #c89666;
$theme6-color-title-text: #c89666;
$theme6-color-main-text: #c89666;
$theme6-color-gray: #dddfd4;

// Theme 6
$theme3-color-background-primary: #090A0A;
$theme3-color-background-secondary: #151617;
$theme3-color-primary: #d4d6cc;
$theme3-color-secondary: #dddfd4;
$theme3-color-title-text: #090A0A;
$theme3-color-main-text: #dddfd4;
$theme3-color-gray: #dddfd4;

$overall-background: #151617;

@font-face {
    font-family: 'newpatagonia-normal';
    src: url('../fonts/NewPatagonia/NewPatagonia-Normal.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'newpatagonia-regular';
    src: url('../fonts/NewPatagonia/NewPatagonia-regular.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

//Fonts https://www.haleyfiege.fun/fonts
$font-main-text: 'newpatagonia-normal', 'newpatagonia-regular', sans-serif;
$font-title-text: 'newpatagonia-normal', 'newpatagonia-regular', sans-serif;


//Responsive breakpoints
$bp-x-large: 50em;      //800px
$bp-large: 46.8em;     //748.8px
$bp-medium: 37em;      //592px
$bp-small: 25em;     //592px
