@font-face {
  font-family: 'newpatagonia-normal';
  src: url("../fonts/NewPatagonia/NewPatagonia-Normal.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'newpatagonia-regular';
  src: url("../fonts/NewPatagonia/NewPatagonia-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "newpatagonia-normal", "newpatagonia-regular", sans-serif;
  background-color: #151617;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem;
  font-size: 1.5rem;
  box-sizing: border-box;
  width: 100%; }
  @media only screen and (max-width: 37em) {
    body {
      padding: 2rem; } }
  @media only screen and (max-width: 26em) {
    body {
      padding: 1rem; } }

.app {
  display: grid;
  grid-template-columns: [full-start] 1fr [content-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [content-end] 1fr [full-end]; }

.main {
  display: grid;
  grid-column: content-start/ content-end; }

a {
  color: #2d545e;
  text-decoration: none; }

.resume-link {
  color: #e1b382;
  text-decoration: default;
  cursor: pointer; }

.text-content {
  font-size: 2rem;
  align-self: center;
  justify-self: center;
  text-align: center; }
  @media only screen and (max-width: 46.8em) {
    .text-content {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 37em) {
    .text-content {
      font-size: 2rem; } }
  @media only screen and (max-width: 26em) {
    .text-content {
      font-size: 1.5rem; } }

.text-content-large {
  font-size: 4rem;
  line-height: 16rem;
  align-self: center;
  justify-self: center;
  text-align: center; }
  @media only screen and (max-width: 26em) {
    .text-content-large {
      line-height: 8rem;
      font-size: 1.8rem;
      padding-right: 1rem;
      padding-left: 1rem; } }

.main-header {
  grid-column: content-start / content-end;
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
  color: #dddfd4;
  background: linear-gradient(to right bottom, rgba(38, 122, 159, 0.9), rgba(86, 157, 189, 0.9)); }
  @media only screen and (max-width: 46.8em) {
    .main-header {
      grid-template-columns: 12rem 1fr;
      margin: 0;
      padding: 0; } }
  @media only screen and (max-width: 26em) {
    .main-header {
      grid-template-columns: 6rem 1fr; } }
  @media only screen and (max-width: 23.5em) {
    .main-header {
      grid-template-columns: 4rem 1fr; } }

.my-playground {
  grid-column: content-start / content-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem 2rem 0 2rem;
  color: #173e43;
  background: linear-gradient(to right bottom, rgba(250, 229, 150, 0.9), rgba(255, 241, 187, 0.9)); }
  @media only screen and (max-width: 46.8em) {
    .my-playground {
      grid-template-columns: 1fr 12rem; } }
  @media only screen and (max-width: 26em) {
    .my-playground {
      grid-template-columns: 1fr 6rem; } }
  @media only screen and (max-width: 23.5em) {
    .my-playground {
      grid-template-columns: 1fr 4rem; } }

.title-aside-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  gap: 2rem; }

.section-title {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  display: grid;
  padding-bottom: 3rem; }
  @media only screen and (max-width: 46.8em) {
    .section-title {
      grid-template-columns: min-content min-content min-content;
      text-orientation: mixed;
      writing-mode: vertical-lr;
      transform: rotate(-180deg); } }

@media only screen and (max-width: 46.8em) {
  .title-one,
  .title-two {
    display: none; } }

.title-one-vertical,
.title-two-vertical {
  display: none; }
  @media only screen and (max-width: 46.8em) {
    .title-one-vertical,
    .title-two-vertical {
      display: block;
      margin: 2rem; } }
  @media only screen and (max-width: 37em) {
    .title-one-vertical,
    .title-two-vertical {
      margin: 1.5rem; } }
  @media only screen and (max-width: 26em) {
    .title-one-vertical,
    .title-two-vertical {
      margin: 1rem; } }

h1 {
  margin: 0;
  line-height: 8rem;
  font-size: 11rem; }
  @media only screen and (max-width: 65em) {
    h1 {
      line-height: 7rem;
      font-size: 9rem; } }
  @media only screen and (max-width: 37em) {
    h1 {
      line-height: normal; } }
  @media only screen and (max-width: 26em) {
    h1 {
      font-size: 4rem; } }
  @media only screen and (max-width: 23.5em) {
    h1 {
      font-size: 3rem; } }

.justify-right {
  text-align: end;
  justify-self: end;
  justify-content: end; }
  @media only screen and (max-width: 46.8em) {
    .justify-right {
      text-align: start;
      justify-self: start;
      align-self: start;
      align-content: start; } }

.text-container {
  display: grid;
  grid-column: content-start/ content-end;
  margin: 5rem 0; }

.text-container-title {
  font-size: 4rem;
  align-self: center;
  justify-self: center;
  text-align: center;
  margin-top: 3rem; }

.content-large {
  font-size: 4rem;
  line-height: 12rem; }

.contact {
  grid-column: content-start / content-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem 2rem 0 2rem;
  color: #c89666;
  background: linear-gradient(to right bottom, rgba(45, 84, 94, 0.9), rgba(18, 52, 59, 0.9)); }
  @media only screen and (max-width: 65em) {
    .contact {
      padding: 2rem 0rem 0 0rem; } }
  @media only screen and (max-width: 46.8em) {
    .contact {
      grid-template-columns: 1fr 12rem; } }
  @media only screen and (max-width: 26em) {
    .contact {
      grid-template-columns: 1fr 6rem; } }
  @media only screen and (max-width: 23.5em) {
    .contact {
      grid-template-columns: 1fr 5rem; } }

.contact-main {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: end;
  gap: 10rem;
  fill: #c89666;
  margin: 5rem; }
  @media only screen and (max-width: 46.8em) {
    .contact-main {
      margin: 3rem 2rem; } }
  @media only screen and (max-width: 46.8em) {
    .contact-main {
      margin: 3rem 1rem; } }
  @media only screen and (max-width: 26em) {
    .contact-main {
      margin: 2rem 0rem; } }

.email-and-number {
  display: grid;
  grid-template-columns: 10% 50% 20%;
  gap: 3rem;
  height: 4rem;
  margin: 5rem 0; }
  @media only screen and (max-width: 26em) {
    .email-and-number {
      gap: 1.5rem; } }
  @media only screen and (max-width: 26em) {
    .email-and-number {
      gap: 1rem; } }

.email-and-number-icon {
  width: 5rem;
  align-self: center; }
  @media only screen and (max-width: 37em) {
    .email-and-number-icon {
      width: 4rem; } }
  @media only screen and (max-width: 26em) {
    .email-and-number-icon {
      width: 3rem; } }
  @media only screen and (max-width: 23.5em) {
    .email-and-number-icon {
      width: 2.2rem; } }

.email-and-number-text {
  height: 10rem; }
  @media only screen and (max-width: 65em) {
    .email-and-number-text {
      height: 9rem; } }
  @media only screen and (max-width: 26em) {
    .email-and-number-text {
      height: 4rem; } }
  @media only screen and (max-width: 26em) {
    .email-and-number-text {
      height: 3.8rem; } }

.contact-icons {
  display: grid;
  padding-top: 3rem;
  margin: 15rem 0;
  gap: 5rem;
  grid-template-columns: 4rem 4rem 4.1rem 4rem;
  fill: black !important; }
  @media only screen and (max-width: 26em) {
    .contact-icons {
      margin: 15rem 2rem;
      gap: 3rem; } }

.footer {
  background-color: #c89666;
  color: #2d545e;
  grid-column: content-start / content-end;
  display: grid;
  grid-template-columns: 1fr;
  padding: 3rem 2rem; }

.header {
  display: grid;
  grid-column: content-start / content-end; }

.journey-cards {
  padding: 5rem 3rem;
  display: grid;
  grid-gap: 3rem;
  grid-row-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); }
  @media only screen and (max-width: 46.8em) {
    .journey-cards {
      margin: 5rem;
      padding-right: 3rem;
      padding-left: 3rem;
      padding-bottom: 5rem; } }
  @media only screen and (max-width: 37em) {
    .journey-cards {
      margin: 3rem;
      padding-right: 2rem;
      padding-left: 2rem;
      padding-bottom: 5rem; } }
  @media only screen and (max-width: 26em) {
    .journey-cards {
      margin: .5rem;
      padding-right: 0rem;
      padding-left: 0rem;
      padding-bottom: 5rem; } }

.journey-card {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 4rem 1fr; }
  @media only screen and (max-width: 26em) {
    .journey-card {
      grid-template-columns: 3rem 1fr; } }

.journey-icon {
  fill: #3fb0ac;
  width: 100%; }

.journey-card-text {
  text-align: left; }

.content-text {
  padding: 5rem; }
  @media only screen and (max-width: 46.8em) {
    .content-text {
      padding: 3rem; } }
  @media only screen and (max-width: 37em) {
    .content-text {
      padding: 0rem; } }

.my-journey {
  grid-column: content-start / content-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
  color: #dddfd4;
  background: linear-gradient(to right bottom, rgba(9, 10, 10, 0.9), rgba(21, 22, 23, 0.9)); }
  @media only screen and (max-width: 46.8em) {
    .my-journey {
      grid-template-columns: 12rem 1fr; } }
  @media only screen and (max-width: 37em) {
    .my-journey {
      grid-template-columns: 9rem 1fr;
      padding: 2rem 1rem; } }
  @media only screen and (max-width: 26em) {
    .my-journey {
      grid-template-columns: 6rem 1fr; } }
  @media only screen and (max-width: 23.5em) {
    .my-journey {
      grid-template-columns: 4rem 1fr; } }

.main-content {
  display: grid;
  grid-column: content-start/ content-end;
  grid-template-columns: [content-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [content-end]; }

.my-portfolio {
  grid-column: content-start / content-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem 2rem 0 2rem;
  color: #05386b;
  background: linear-gradient(to right bottom, rgba(85, 188, 201, 0.9), rgba(85, 188, 201, 0.9)); }
  @media only screen and (max-width: 46.8em) {
    .my-portfolio {
      grid-template-columns: 1fr 12rem; } }
  @media only screen and (max-width: 26em) {
    .my-portfolio {
      grid-template-columns: 1fr 6rem; } }
  @media only screen and (max-width: 23.5em) {
    .my-portfolio {
      grid-template-columns: 1fr 4rem;
      padding: 1rem 1rem 0 .5rem; } }

.portfolio {
  display: grid;
  grid-gap: 3rem;
  padding: 5rem 0;
  justify-content: center; }

.portfolio-card {
  display: grid;
  border-radius: 1rem;
  transition: all .3s; }
  .portfolio-card:hover {
    transform: translateY(-0.1rem) scale(1.005);
    filter: brightness(95%);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); }

.portfolio-card-content {
  padding: 0 2rem 2rem;
  display: grid;
  grid-gap: 1rem;
  font-size: 1.2rem; }
  @media only screen and (max-width: 26em) {
    .portfolio-card-content {
      padding: 0 .5rem 2rem; } }

.portfolio-card-links {
  display: grid;
  padding-top: 1rem;
  grid-template-columns: 1fr 3fr; }

.links-title {
  justify-self: start !important;
  align-self: start !important; }

.portfolio-card-links-icons {
  display: grid;
  padding: 0 5rem;
  grid-template-columns: 1fr; }
  @media only screen and (max-width: 37em) {
    .portfolio-card-links-icons {
      padding: 0 3rem; } }
  @media only screen and (max-width: 26em) {
    .portfolio-card-links-icons {
      padding: 0 2rem; } }
  @media only screen and (max-width: 23.5em) {
    .portfolio-card-links-icons {
      padding: 0rem; } }

.link-text {
  justify-self: start; }

.portfolio-card-technologies {
  display: grid;
  padding-top: 1.5rem;
  grid-gap: 1.5rem;
  justify-content: center;
  grid-template-columns: 1fr 3fr; }

.portfolio-card-tech-icons {
  display: grid;
  gap: 3rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 3rem); }
  @media only screen and (max-width: 26em) {
    .portfolio-card-tech-icons {
      gap: 1.5rem; } }

.portfolio-card-tech-icon {
  border: black;
  border-radius: 3px;
  width: 5rem;
  justify-self: center;
  transition: all .3s; }
  .portfolio-card-tech-icon:hover {
    transform: translateY(-0.2rem) scale(1.03);
    filter: brightness(70%); }
  @media only screen and (max-width: 26em) {
    .portfolio-card-tech-icon {
      width: 3rem; } }

.portfolio-card-cta {
  background-color: #CAFAFE;
  height: 5rem;
  width: 25rem;
  border-radius: 2.8rem;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 2rem;
  margin: 1rem;
  padding: .6rem;
  cursor: pointer;
  transition: all .3s; }
  .portfolio-card-cta:hover {
    transform: translateY(-0.2rem) scale(1.03);
    filter: brightness(70%); }
  .portfolio-card-cta:active {
    transform: translateY(-0.1rem) scale(1.01); }
  @media only screen and (max-width: 26em) {
    .portfolio-card-cta {
      height: 3rem;
      width: 15rem;
      margin: .5rem; } }
  @media only screen and (max-width: 23.5em) {
    .portfolio-card-cta {
      height: 2.5rem;
      width: 13rem;
      gap: 1rem; } }

.portfolio-card-icon {
  width: 5rem; }
  @media only screen and (max-width: 26em) {
    .portfolio-card-icon {
      width: 3rem; } }
  @media only screen and (max-width: 23.5em) {
    .portfolio-card-icon {
      width: 2.5rem; } }

.portfolio-card-line {
  justify-self: center;
  width: 100%;
  height: 1.5rem;
  margin-top: 3rem; }

.skills {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 5rem 0; }
  @media only screen and (max-width: 46.8em) {
    .skills {
      margin-right: 1.5rem; } }

#hexGrid {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  width: 90%;
  overflow: hidden;
  font-size: 15px;
  list-style-type: none;
  padding-top: 5rem;
  padding-right: 2rem; }

.hex {
  position: relative;
  visibility: hidden;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
  transition: all .3s; }
  .hex:hover {
    transform: translateY(-0.5rem) scale(1.03);
    filter: brightness(70%);
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2); }

.hex::after {
  content: '';
  display: block;
  padding-bottom: 86.602%;
  /* =  100 / tan(60) * 1.5 */ }

.hexIn {
  position: absolute;
  width: 96%;
  padding-bottom: 110.851%;
  /* =  width / sin(60) */
  margin: 0 2%;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  transform: rotate3d(0, 0, 1, -60deg) skewY(30deg); }

.hexIn * {
  position: absolute;
  visibility: visible;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
  background-color: #87c8b2; }

.hexImage {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  background-color: 0;
  outline: 1px solid transparent;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg); }

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width: 1100px) {
  /* <- 5-4  hexagons per row */
  #hexGrid {
    padding-bottom: 4.4%; }
  .hex {
    width: 20%;
    /* = 100 / 5 */ }
  .hex:nth-child(9n+6) {
    /* first hexagon of even rows */
    margin-left: 10%;
    /* = width of .hex / 2  to indent even rows */ } }

@media (max-width: 1100px) and (min-width: 749px) {
  /* <- 4-3  hexagons per row */
  #hexGrid {
    padding-bottom: 5.5%; }
  .hex {
    width: 25%;
    /* = 100 / 4 */ }
  .hex:nth-child(7n+5) {
    /* first hexagon of even rows */
    margin-left: 12.5%;
    /* = width of .hex / 2  to indent even rows */ } }

@media (max-width: 749px) and (min-width: 630px) {
  /* <- 5-4  hexagons per row */
  #hexGrid {
    padding-bottom: 4.4%; }
  .hex {
    width: 20%;
    /* = 100 / 5 */ }
  .hex:nth-child(9n+6) {
    /* first hexagon of even rows */
    margin-left: 10%;
    /* = width of .hex / 2  to indent even rows */ } }

@media (max-width: 630px) and (min-width: 420px) {
  /* <- 4-3  hexagons per row */
  #hexGrid {
    padding-bottom: 5.5%; }
  .hex {
    width: 25%;
    /* = 100 / 4 */ }
  .hex:nth-child(7n+5) {
    /* first hexagon of even rows */
    margin-left: 12.5%;
    /* = width of .hex / 2  to indent even rows */ } }

@media (max-width: 420px) {
  /* <- 3-2  hexagons per row */
  #hexGrid {
    padding-bottom: 7.4%; }
  .hex {
    width: 33.333%;
    /* = 100 / 3 */ }
  .hex:nth-child(5n+4) {
    /* first hexagon of even rows */
    margin-left: 16.666%;
    /* = width of .hex / 2  to indent even rows */ } }

.B {
  fill-rule: evenodd; }

.C {
  fill: #dcd9d8; }

.D {
  fill: #d33833; }

.E {
  fill: #231f20; }

.F {
  fill: #f7e4cd; }

.G {
  stroke: #d33833; }

.H {
  stroke-width: .257; }

.testimonials {
  grid-column: content-start / content-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
  color: #173e43;
  background: linear-gradient(to right bottom, rgba(221, 223, 212, 0.9), rgba(245, 245, 245, 0.9)); }
  @media only screen and (max-width: 46.8em) {
    .testimonials {
      grid-template-columns: 12rem 1fr; } }
  @media only screen and (max-width: 26em) {
    .testimonials {
      grid-template-columns: 6rem 1fr; } }
  @media only screen and (max-width: 23.5em) {
    .testimonials {
      grid-template-columns: 4rem 1fr; } }

.testimonial-card {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-gap: 3rem;
  padding: 4rem; }
  @media only screen and (max-width: 26em) {
    .testimonial-card {
      padding: 4rem 2rem; } }

.testimonial-headshot {
  width: 15rem;
  border-radius: 50%;
  justify-self: center;
  align-self: center; }
  @media only screen and (max-width: 26em) {
    .testimonial-headshot {
      width: 10rem; } }

.testimonial-text {
  text-align: left; }

.testimonial-name,
.testimonial-title {
  font-weight: bold;
  text-align: center; }
