.contact {
    grid-column: content-start / content-end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 2rem 0 2rem;
    color: $theme6-color-main-text;
    background: linear-gradient(to right bottom, rgba($theme6-color-background-primary, .9), rgba($theme6-color-background-secondary, .9));
}

.contact-main {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: end; 
    fill: $theme6-color-main-text;
}

.email-and-number {
    display: grid;
    grid-template-columns: 10% 50% 20%;
    gap: 3rem;
    height: 4rem;
    margin: 5rem 0;
}

.email-and-number-icon {
    width: 5rem;
}

.email-and-number-text {
    height: 6rem;
}

.contact-icons{
    display: grid;
    padding-top: 3rem;
    margin: 15rem 0;
    gap: 5rem;
    grid-template-columns: 4rem 4rem 4.1rem 4rem;
}

