.footer {
    background-color: $theme6-color-main-text;
    color: $theme6-color-background-primary;
    grid-column: content-start / content-end;
    display: grid;
    grid-template-columns: 1fr;
    padding: 3rem 2rem;
}
