.journey-cards {
    padding: 5rem 3rem;
    display: grid;
    grid-gap: 3rem;
    grid-row-gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    

    @media only screen and (max-width: $bp-large) {
        margin: 5rem;
        padding-right: 3rem;
        padding-left: 3rem;
        padding-bottom: 5rem;
    }

    @media only screen and (max-width: $bp-medium) {
        margin: 3rem;
        padding-right: 2rem;
        padding-left: 2rem;
        padding-bottom: 5rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin: .5rem;
        padding-right: 0rem;
        padding-left: 0rem;
        padding-bottom: 5rem;
    }
}

.journey-card {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 4rem 1fr;
    @media only screen and (max-width: $bp-small) {
        grid-template-columns: 3rem 1fr;
    }
}

.journey-icon {
    fill: $color-primary;
    width: 100%;
}

.journey-card-text {
    text-align: left;
}

.content-text{
    padding: 5rem;

    @media only screen and (max-width: $bp-large) {
        padding: 3rem;
    }

    @media only screen and (max-width: $bp-medium) {
       padding: 0rem;
    }
}