.main-header {
    grid-column: content-start / content-end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    color: $theme1-color-main-text;
    background: linear-gradient(to right bottom, rgba($theme1-color-background-primary, .9), rgba($theme1-color-background-secondary, .9));
    
    @media only screen and (max-width: $bp-large) {
        grid-template-columns: 12rem 1fr;
        margin:0;
        padding: 0;
    }
}

.text-content-large {
    font-size: 4rem;
    line-height: 16rem;
    align-self: center;
    justify-self: center;
    text-align: center;
}

