.portfolio-card{
    display: grid;
    border-radius: 1rem;
    transition: all .3s;
  
    &:hover {
      transform: translateY(-.1rem) scale(1.005); 
      filter: brightness(95%);
      box-shadow: 3px 3px 10px rgba($color: #000000, $alpha: .2);
  }
}

.portfolio-card-content{
    padding: 0 2rem 2rem;
    display: grid;
    grid-gap: 1rem;
    font-size: 1.2rem;

    @media only screen and (max-width: $bp-small) {
        padding: 0 .5rem 2rem;
    }  
}


.portfolio-card-links {
    display: grid;
    padding-top: 1rem;
    grid-template-columns: 1fr 3fr;
}

.links-title {
    justify-self: start !important;
    align-self: start !important;
}
.portfolio-card-links-icons {
    display: grid;
    padding: 0 5rem;
    grid-template-columns: 1fr;

    @media only screen and (max-width: $bp-medium) {
        padding: 0 3rem;
    }  

    @media only screen and (max-width: $bp-small) {
        padding: 0 2rem;
    }  

    @media only screen and (max-width: $bp-x-small) {
        padding: 0rem;
    } 
}

.link-text {
    justify-self: start;
}

.portfolio-card-technologies {
    display: grid;
    padding-top: 1.5rem;
    grid-gap: 1.5rem;
    justify-content: center;
    grid-template-columns: 1fr 3fr;
}

.portfolio-card-tech-icons {
    display: grid;
    gap: 3rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 3rem);
    @media only screen and (max-width: $bp-small) {
        gap: 1.5rem;
    }
}

.portfolio-card-tech-icon {
    border: black;
    border-radius: 3px;
    width: 5rem;
    justify-self: center;
    transition: all .3s;
  
    &:hover {
      transform: translateY(-.2rem) scale(1.03); 
      filter: brightness(70%);  
  }
  @media only screen and (max-width: $bp-small) {
    width: 3rem;
}

}

.portfolio-card-cta {
    background-color: $theme4-color-secondary;
    height: 5rem;
    width: 25rem;
    border-radius: 2.8rem;
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 2rem;
    margin: 1rem;
    padding: .6rem;
    cursor: pointer;
    transition: all .3s;
  
    &:hover {
      transform: translateY(-.2rem) scale(1.03); 
      filter: brightness(70%);
  }
  &:active {
    transform: translateY(-.1rem) scale(1.01);
  }

    @media only screen and (max-width: $bp-small) {
        height: 3rem;
        width: 15rem;
        margin: .5rem;
    }

    @media only screen and (max-width: $bp-x-small) {
        height: 2.5rem;
        width: 13rem;
        gap: 1rem;
    }
}

.portfolio-card-icon {
    width: 5rem;
    @media only screen and (max-width: $bp-small) {
        width: 3rem;
    }
    @media only screen and (max-width: $bp-x-small) {
        width: 2.5rem;
    }
}

.portfolio-card-line {
    justify-self: center;
    width: 100%;
    height: 1.5rem;
    margin-top: 3rem;
}