.title-aside-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    gap: 2rem;
}

.section-title {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    display: grid;
}

h1 {
    margin: 0;
    line-height: 8rem;
    font-size: 11rem;
}

.justify-right {
    text-align: end;
    justify-self: end;
    justify-content: end;
}