.title-aside-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    gap: 2rem;
}

.section-title {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    display: grid;
    padding-bottom: 3rem;
    @media only screen and (max-width: $bp-large) {
        // position: static !important;
        grid-template-columns: min-content min-content min-content;
        text-orientation: mixed;
        writing-mode: vertical-lr;
        transform: rotate(-180deg);
    }
}

.title-one,
.title-two {
    @media only screen and (max-width: $bp-large) {
        display: none;
    }
}

.title-one-vertical,
.title-two-vertical {
    display: none;
    @media only screen and (max-width: $bp-large) {
        display: block;
        margin: 2rem;
    }
    @media only screen and (max-width: $bp-medium) {
        margin: 1.5rem;
    }
    @media only screen and (max-width: $bp-small) {
        margin: 1rem;
    }
}

h1 {
    margin: 0;
    line-height: 8rem;
    font-size: 11rem;
    @media only screen and (max-width: $bp-x-large) {
        line-height: 7rem;
        font-size: 9rem;
    }
    @media only screen and (max-width: $bp-medium) {
        line-height: normal;
    }
    @media only screen and (max-width: $bp-small) {
        font-size: 4rem;
    }
    @media only screen and (max-width: $bp-x-small) {
        font-size: 3rem;
    }
}

.justify-right {
    text-align: end;
    justify-self: end;
    justify-content: end;

    @media only screen and (max-width: $bp-large) {
        text-align: start;
        justify-self: start;
        align-self: start;
        align-content: start;
    }
}